.health-description-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #DAEDE9;
  font-family: 'Arial', sans-serif;
  padding: 0 80px;
  width: 100%;
  box-sizing: border-box;
}

.description-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  margin: 0 auto;
}

.description-left {
  width: 100%;
  box-sizing: border-box;
}

.description-text {
  font-size: 28px;
  line-height: 1.5;
  color: #014555;
  margin: 0;
  padding: 20px 0;
  font-family: 'Khand-Medium', sans-serif;
}

.description-right {
  width: 100%;
  max-width: 261px;
  height: auto;
  padding: 20px;
  background-color: #13262c;
  color: white;
  font-size: 24px;
  text-transform: capitalize;
  border-radius: 40px;
  font-family: 'Khand-SemiBold', sans-serif;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.start-button {
  background-color: #FEED00;
  border: none;
  font-size: 24px;
  font-family: 'Khand-SemiBold', sans-serif;
  cursor: pointer;
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 20px;
}

.start-button:hover {
  color: black;
}

@media (min-width: 786px) {
  .description-top {
    flex-direction: row;
  }

  .description-left {
    text-align: left;
    padding: 20px 20px 20px 0;
  }

  .description-right {
    font-size: 28px;
    max-width: 209px;
    height: 125px;
    margin-bottom: 60px;
  }

  .start-button {
    margin-top: 0;
    border-radius: 0 30px 30px 0;
  }
}

@media (max-width: 786px) {
  .description-text {
    font-size: 18px;
    text-align: center;
  }

  .description-right {
    font-size: 24px;
    width: 100%;
    height: auto;
    margin-top: 20px;
    padding: 10px;
  }

  .start-button {
    width: 80%;
    margin-top: 20px;
    border-radius: 20px;
  }
}

@media (max-width: 480px) {
  .description-text {
    font-size: 16px;
  }

  .description-right {
    font-size: 16px;
    padding: 10px;
  }

  .start-button {
    font-size: 18px;
    padding: 8px 16px;
  }
}