.Container {
  display: flex;
  flex-direction: column; 
  font-family: "rozha one", serif;
  width: 100%;
}

.box-first {
  padding-top: 30px;
  background-color: rgb(234, 242, 246);
  animation: slideIn 5s ease-in-out;
  color: rgb(9, 55, 31);
  font-size: 56px; 
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.box-middle {
  background-color: rgb(234, 242, 246);
  display: none; 
}

.box-last {
  width: 100%; 
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  max-width: 100%; 
  max-height: 100%; 
}

@media screen and (min-width: 768px) {
  .Container {
    flex-direction: row;
  }

  .box-first {
    width: 504px;
    min-height: 350px;
    position: absolute;
    top: 310px;
    left: 30px;
    font-size: 32px; 
  }

  .box-middle {
    flex: 0.43;
    display: initial; 
  }

  .box-last {
    flex: 1;
  }
}

@media screen and (max-width: 767px) {
  .box-first {
    font-size: 32px;
    width: 100%; 
    position: relative; 
    top: unset;
    left: unset;
  }

  .box-middle {
    display: initial; 
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .Container {
    flex-direction: column;
  }

  .box-first {
    width: 100%; 
    min-height: auto; 
    position: static; 
    margin: 0 auto; 
    font-size: 40px; 
  }

  .box-middle {
    flex: 1;
    display: initial; 
  }

  .box-last {
    width: 100%; 
    margin: 0 auto; 
  }
}
