.card-container4 {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(251, 251, 243);
    font-family: "rozha one", serif;
    justify-content: center;
  }
  
  .card4 {
    width: 509px;
    height: 253px;
    margin: 20px;
    border: 1px solid #ccc;
    overflow: hidden;
    display: flex; 
  }
  
  .card-image4 {
    width:50%;
    ;
  }
  
  .card-image4 img {
    width: 100%;
    height:100%;
    object-fit: cover;
  }
  
  .card-description4 {
    width: 50%; 
    background-color: rgb(242 237 219 / 80%);
    color: black;
    position: relative;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    text-align: left  ;
}
  
.card-button4 {
  width: 142px;
  height: 40px;
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  align-self: center; 
  margin-bottom: 20px; 
}
  
  .card-button4:hover {
    background-color:  white;
    color: blue;
    border: 1px solid blue;
    transition: all 0.2s ease, visibility 0s;
  }
  
  .coming-soon-container {
    text-align: center;
    margin-top: 50px;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .coming-soon-text, .coming-soon-subtext {
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }
  
  
  @media (max-width: 768px) {
    .card4 {
      width: 90%;
    }
  }
  