html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.product-container {
  background-color: #DAEDE9;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  padding: 40px 0;
}

.product-container-img {
  max-width: 1450px;
  width: 100%;
}

.top-image {
  padding-bottom: 50px;
  width: 400px;
}

.product-card {
  background-color: #7baab8;
  width: 100%;
  height: 400px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  position: relative;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
  margin-bottom: 50px;
}

.card-content {
  display: flex;
  height: 100%;
}

.left-side {
  display: flex;
  align-items: center;
  padding-left: 60px;
}

.left-image {
  width: 100%;
  max-width: 250px;
  height: auto;
  max-height: 300px;
}

.right-side {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: end;
}

.description-card {
  width: 100%;
  max-width: 80%;
  margin-right: 20px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 20px;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
  position: relative;
}

.product-name {
  font-family: 'Inter-UI-BlackItalic';
  color: #014656;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: left;
  margin: 0;
}

.product-description {
  font-family: 'Arial';
  font-size: 1.3rem;
  line-height: 1.4;
  color: #333;
  text-align: left;
  margin: 0;
  padding-bottom: 20px;
}

.product-pricing {
  font-family: 'Inter-UI-BlackItalic';
  font-size: 1.2rem;
  font-weight: bold;
  color: #064646;
  background-color: #FEED00;
  padding: 5px 20px 5px 16px;
  border-radius: 10px;
  display: inline-block;
  text-align: center;
  margin: 0;
  position: relative;
}

.product-pricing::after {
  content: '*';
  position: absolute;
  top: 0;
  color: #064646;
  font-size: 1.2rem;
}

.banner-container {
  font-family: 'Inter-UI-BlackItalic';
  background-color: #FFED00;
  color: #014657;
  font-size: 14px;
  width: 198px;
  height: 30px;
  font-weight: bold;
  align-content: center;
  display: inline-block;
  clip-path: polygon(0% 0%, 100% 0%, 90% 100%, 10% 100%);
  position: relative;
}

.banner-text {
  margin: 0;
  display: inline-block;
  position: relative;
}

.asterisk {
  color: #014657;
  font-size: 14px;
  font-weight: bold;
  position: absolute;
  top: 0;
  right: -10px;
}

/* Responsive adjustments */
@media (max-width: 1024px) {
  .product-container {
    gap: 30px;
  }

  .product-card {
    height: auto;
  }

  .left-side {
    padding-left: 40px;
  }

  .left-image {
    max-width: 200px;
    max-height: 200px;
  }

  .description-card {
    max-width: 80%;
    margin: 20px;
  }

  .product-name {
    font-size: 1.5rem;
  }

  .top-image {
    padding-bottom: 50px;
    width: 250px;
  }

  .product-description {
    font-size: 1.1rem;
  }

  .product-pricing {
    font-size: 1rem;
    padding: 5px 20px 5px 16px;
  }

  .product-pricing::after {
    font-size: 1rem;
  }

  .banner-container {
    width: 170px;
    height: 30px;
    font-size: 12px;
  }

  .asterisk {
    font-size: 12px;
    right: -8px;
  }
}

@media (max-width: 768px) {
  .product-container {
    gap: 20px;
  }

  .card-content {
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
  }

  .left-side {
    padding-left: 0;
  }

  .left-image {
    max-width: 150px;
    max-height: 150px;
  }

  .description-card {
    max-width: 95%;
    padding: 15px;
    margin: 10px 10px;
  }

  .product-name {
    font-size: 1.3rem;
    text-align: center;
  }

  .product-description {
    font-size: 1rem;
    text-align: center;
  }

  .product-pricing {
    font-size: 0.9rem;
    padding: 5px 16px 5px 16px;
  }

  .product-pricing::after {
    font-size: 0.9rem;
  }

  .banner-container {
    width: 140px;
    height: 20px;
    font-size: 10px;
  }

  .asterisk {
    font-size: 10px;
    right: -6px;
  }
}

@media (max-width: 480px) {
  .product-card {
    height: auto;
    box-shadow: none;
    padding: 10px;
  }

  .description-card {
    max-width: 100%;
    padding: 10px;
    margin-right: 20px;
  }

  .product-name {
    font-size: 1.2rem;
  }

  .product-description {
    font-size: 0.9rem;
  }

  .product-pricing {
    font-size: 0.8rem;
    padding: 5px 16px 5px 16px;
  }

  .product-pricing::after {
    font-size: 0.8rem;
    top: auto;
  }

  .banner-container {
    width: 115px;
    height: 18px;
    font-size: 8px;
  }

  .asterisk {
    font-size: 8px;
    right: -5px;
  }
}
