.disclaimer {
  border-top: 2px solid rgb(160,19,142);
  margin: auto;
  margin-top: 10px;
  font-family: "rozha one", serif;
  font-size: 18px;
  width: auto;
}

.navbar {
  font-family: "rozha one", serif;
  display: flex;
  background-color: rgb(9,55,31);
  color: white;
  width: 100%;
  height: 108px;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  padding-left: 10px;
  width: 170px;
  height: auto;
}

.nav-links {
  list-style: none;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgb(234,242,246);
  border-top: 1px solid rgb(234,242,246);
  margin: 30px 0px 30px 190px;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: black;
}

.menu-toggle {
  display: none;
  cursor: pointer;
  padding-right: 20px;
}

.bar {
  width: 100%;
  height: 3px;
  background-color: white;
  transition: all 0.3s ease;
}

.change:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.change:nth-child(2) {
  opacity: 0;
}

.change:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -6px);
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.hamburger-icon {
  width: 30px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  padding-top: 20px;
}


@media screen and (max-width: 768px) {
  .logo {
    padding-left: 10px;
    width: 110px;
    height: 80px;
  }

  .navbar {
    justify-content: space-between;
  }

  .nav-links {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    background-color: rgb(9,55,31);
    z-index: 1000;
  }

  .nav-links.show {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .nav-links li {
    margin: 10px 0;
  }

  .menu-toggle {
    display: block;
  }
}
