.disclaimer {
  border-top: 2px solid rgb(160, 19, 142);
  margin: auto;
  font-family: "rozha one", serif;
  font-size: 18px;  
  width: 100%;
  text-align: center;
}

.navbar {
  font-family: "rozha one", serif;
  display: flex;
  background-color: rgb(9, 55, 31);
  color: white;
  width: 100%;
  height: 108px;
  position: relative;
  justify-content: space-between; 
  align-items: center;
}

.logo-container {
  margin-left: 20px; 
}

.nav-links {
  list-style: none;
  font-size: 16px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(234, 242, 246);
  border-top: 1px solid rgb(234, 242, 246);
  right: 10px;
  padding: 10px;
}

.nav-links li {
  margin: 0 10px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: yellow;
}

.menu-toggle {
  display: none;
  cursor: pointer;
  padding-right: 20px;
}

.bar {
  width: 100%;
  height: 3px;
  background-color: white;
  transition: all 0.3s ease;
}

.hamburger-icon {
  width: 30px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .logo {
    width: 120px;
    height: 80px;
  }

  .nav-links {
    display: none;
    position: absolute;
    top: 100px;
    left: 0; 
    background-color: rgb(9, 55, 31);
    z-index: 1000;
    border-bottom: none;
    border-top: none;
    flex-direction: column;
  }

  .nav-links.show {
    display: flex;
  }

  .nav-links li {
    margin: 10px 0;
  }

  .menu-toggle {
    display: block;
    z-index: 1010;
  }
}
