.disclaimer {
  border-top: 2px solid rgb(160,19,142);
  margin: auto;
  margin-top: 10px;
  font-family: "rozha one", serif;
  font-size: 18px;
  width: auto;
}
.navbar {
  font-family: "rozha one", serif;
  display: flex;
  background-color: rgb(9,55,31);
  color: white;
  width: 100%;
  height: 108px;
  position: relative;
  justify-content: space-between; 
}

.logo-container {
  display: flex;
  align-items: center;
  margin-left: 20px; 
}

.nav-links {
  list-style: none;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgb(234, 242, 246);
  border-top: 1px solid rgb(234, 242, 246);
  position: absolute;
  top: 30%;
  right: 10px;
  transform: translateY(-50%);
  padding: 10px;
}


.nav-links li {
  margin: 0 10px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: black;
}

.menu-toggle {
  display: none;
  cursor: pointer;
  padding-right: 20px;
}

.bar {
  width: 100%;
  height: 3px;
  background-color: white;
  transition: all 0.3s ease;
}

.hamburger-icon {
  width: 30px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  padding-top: 20px;
}


@media screen and (max-width: 768px) {
  .logo {
    width: 120px;
    height: 80px;
  }

  .nav-links {
    display: none;
    position: absolute;
    top: 90px;
    left: 250px;
    background-color: rgb(9,55,31);
    z-index: 1000;
    border-bottom: none;
    border-top: none
  }

  .nav-links.show {
    display: flex;
    flex-direction: column;
    width: 180px;
  }

  .nav-links li {
    margin: 10px 0;
  }

  .menu-toggle {
    display: block;
  }
}
