.mainfooter {
  height: auto;
  width: auto;
  background-color: rgb(9, 55, 31);
  padding: 10px;
}

.para {
  font-family: "rozha one", serif;
  font-size: 18px;
  color: white;
  line-height: 1.5;
  padding-left: 15px; 
}

.paratext {
  font-family: "rozha one", serif;
  font-size: 16px;
  color: white;
  line-height: 1.5;
  padding-left: 15px; 
  padding-bottom: 20px;
}

.footerflex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
}

.footerFlexContent {
  padding: 0 10px;
  flex: 1; 
  max-width: 200px; 
}

.footerUL {
  list-style-type: none;
  font-size: 16px;
  line-height: 2;
  text-align: center;
  padding-top: 20px;
}

a {
  text-decoration: none;
  color: white;
}
